.btn {
  outline: 0;
  display: inline-block;
  background: transparent;
  border: 0;
  border-radius: $btn-border-radius;
  padding: 10px 20px;
  box-sizing: border-box;
  color: $dark-gray;
  font-size: em(14);
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  touch-action: manipulation;
  transition: 0.3s ease;

  &:hover,
  &:focus {
    background: rgba($black, 0.1);
  }

  &[elevated='true'] {
    @include elevation(1);

    &:hover,
    &:focus {
      @include elevation(3);
    }
  }

  &-link {
    color: $accent;

    &:hover,
    &:focus {
      background: rgba($accent, 0.1);
    }
  }

  @each $name, $color in $brand-colors {
    @if $name != "default" {
      &-#{$name} {
        background: color($name);
        color: $white;

        &:hover,
        &:focus {
          background: darken(color($name), 10%);
        }
      }
    }

    @else {
      &-#{$name} {
        background: color($name);
        color: $dark-gray;

        &:hover,
        &:focus {
          background: darken(color($name), 10%);
        }
      }
    }
  }

  &[disabled],
  &[disabled='true'] {
    background: lighten($black, 80%);
    cursor: not-allowed;
  }

  &-block {
    display: block;
    width: 100%;

    & + & {
      margin: ($gutters / 2) 0 0;
    }
  }

  .badge {
    margin: 0 0 0 8px;
  }

  &-group {
    display: inline-flex;

    .btn {
      margin: 0;
      border-radius: 0;

      &:first-child {
        border-radius: $btn-border-radius 0 0 $btn-border-radius;
      }

      &:last-child {
        border-radius: 0 $btn-border-radius $btn-border-radius 0;
      }
    }
  }
}