.modal {
  z-index: 150;
  position: fixed;
  top: 50%;
  left: 50%;
  background: $card-background;
  border-radius: $card-border-radius;
  max-width: 500px;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  @each $name, $color in $brand-colors {
    @if $name != "default" {
      &-#{$name} {

        .modal-header,
        .modal-footer {
          background: color($name);
          color: $white;

          .btn-link {
            color: $white;
          }
        }
      }
    }

    @else {
      &-header,
      &-footer {
        background: color($name);
        color: $dark-gray;

        .btn-link {
          color: $dark-gray;
        }
      }
    }
  }

  &-header {
    padding: $card-header-padding;
    font-size: $card-header-font-size;
    font-weight: $card-header-font-weight;
  }

  &-body {
    padding: $card-body-padding;
  }

  &-footer {
    padding: $card-footer-padding;
    font-weight: $card-footer-font-weight;
  }
}