.modal {
  z-index: 150;
  position: fixed;
  top: 50%;
  left: 50%;
  background: $modal-background;
  border-radius: $modal-border-radius;
  max-width: 500px;
  width: 100%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;

  &[modal-animation='fadeInTop'] {
    transform: translate(-50%, -100%);
  }

  &[modal-animation='fadeInRight'] {
    transform: translate(0%, -50%);
  }

  &[modal-animation='fadeInBottom'] {
    transform: translate(-50%, 0%);
  }

  &[modal-animation='fadeInLeft'] {
    transform: translate(-100%, -50%);
  }

  &[modal-animation='scaleUp'] {
    transform: translate(-50%, -50%) scale(0);
  }

  &[modal-animation='scaleDown'] {
    transform: translate(-50%, -50%) scale(2);
  }

  &.active {
    transform: translate(-50%, -50%) scale(1, 1);
    visibility: visible;
    opacity: 1;
  }

  @each $name, $color in $brand-colors {
    @if $name != "default" {
      &-#{$name} {

        .modal-header,
        .modal-footer {
          background: color($name);
          color: $white;

          .btn-link {
            color: $white;
          }
        }
      }
    }

    @else {
      &-header,
      &-footer {
        background: color($name);
        color: $dark-gray;

        .btn-link {
          color: $dark-gray;
        }
      }
    }
  }

  &-header {
    padding: $modal-header-padding;
    font-size: $modal-header-font-size;
    font-weight: $modal-header-font-weight;
  }

  &-body {
    padding: $modal-body-padding;
  }

  &-footer {
    padding: $modal-footer-padding;
    font-weight: $modal-footer-font-weight;
  }
}