.navbar {
  background: $white;
  margin: 0 0 20px;

  &-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .brand {
    display: block;
    padding: $navbar-brand-padding;
    color: $navbar-brand-color;
    font-size: $navbar-brand-font-size;
    font-weight: $navbar-brand-font-weight;
  }

  .nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      display: inline-block;
      padding: 0;
      font-size: $navbar-nav-font-size;
      font-weight: $navbar-nav-font-weight;
    }

    a {
      display: inline-block;
      padding: 14px;
      color: $navbar-nav-color;
      vertical-align: middle;

      &:hover {
        color: $navbar-nav-hover-color;
      }

      &.active {
        position: relative;
        color: $navbar-nav-active-color;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          background: $navbar-nav-active-border-color;
          width: 100%;
          height: $navbar-nav-active-border-height;
          border-radius: $navbar-nav-active-border-radius;
        }
      }
    }

    .btn {
      padding: $btn-padding;
      font-size: em(16);

      @each $name, $color in $brand-colors {
        @if $name != "default" {
          &-#{$name} {
            color: $white;

            &:hover,
            &:focus {
              background: darken(color($name), 10%);
              color: $white;
            }
          }
        }
      }
    }
  }
}