// PX to EM
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @if unitless($pixels) {
    $pixels: $pixels * 1px;
  }

  @if unitless($context) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

// Color
@function color($key) {
  @if not map-has-key($brand-colors, $key) {
    @warn "Key `#{$key}` not found.";
  }

  @return map-get($brand-colors, $key);
}

// Button
@function button($type, $key) {
  @if not map-has-key($colors, $key) {
    @warn "Key `#{$key}` not found.";
  }

  @return map-get($type, $key);
}