// Fonts
$body-font: "Roboto";
$heading-font: "Roboto";

// Font Weight
$ultra: 800;
$bold: 700;
$semibold: 500;
$regular: 400;
$light: 300;
$thin: 100;

// Base Colors
$black: #000000;
$white: #FFFFFF;

$dark-gray: lighten($black, 20%);
$gray: lighten($black, 40%);
$light-gray: lighten($black, 60%);

// Theme Colors
$accent: #1ABFFF;
$secondary: #FFB90C;

// Brand Colors
$brand-colors: (default: #E2E2E2, primary: $accent, info: #31D0EB, success: #56D162, warning: $secondary, danger: #D16256);

// Base Settings
$base-background: darken($white, 5%);
$base-color: $gray;
$base-font-family: $body-font, Helvetica, sans-serif;
$base-font-size: 14px;
$base-font-weight: $regular;
$base-line-height: em(24);

// Elevation Levels
$elevation-levels: 5;

// Heading Settings
$heading-color: $dark-gray;
$heading-sizes: (h1: em(60), h2: em(48), h3: em(36), h4: em(24), h5: em(18), h6: em(16));

// Grid Settings
$container-max-width: 1280px;
$container-width: 90%;
$container-fluid-max-width: 100%;
$container-fluid-width: 100%;
$columns: 12;
$gutters: 20px;

// Flex Grid Settings
$align-content: flex-start, flex-end, center, space-between, space-around, stretch;
$align-items: flex-start, flex-end, center, baseline, stretch;
$align-self: auto, flex-start, flex-end, center, baseline, stretch;
$flex-direction: row, row-reserve, column, column-reverse;
$flex-wrap: nowrap, wrap, wrap-reverse;
$justify-content: flex-start, flex-end, center, space-between, space-around;

// Components Settings
$components-padding: (vertical: 10px, horizontal: 20px);
$components-border-radius: 2px;

// Button Settings
$btn-border-radius: $components-border-radius;
$btn-font-weight: $semibold;

// Alert Settings
$alert-border-radius: $components-border-radius;
$alert-font-weight: $regular;

// Media Queries
$media-query: (desktop: 1024px, tablet: 768px, phone: 480px);