// Fonts
$body-font: "Roboto";
$heading-font: "Roboto";

// Font Weight
$ultra: 800;
$bold: 700;
$semibold: 500;
$regular: 400;
$light: 300;
$thin: 100;

// Base Colors
$black: #000000;
$white: #FFFFFF;

$dark-gray: lighten($black, 20%);
$gray: lighten($black, 40%);
$light-gray: lighten($black, 60%);

// Theme Colors
$accent: #1ABFFF;
$secondary: #FFB90C;

// Brand Colors
$brand-colors: (default: #E2E2E2, primary: $accent, info: #31D0EB, success: #56D162, warning: $secondary, danger: #D16256);

// Base Settings
$base-background: darken($white, 5%);
$base-color: $gray;
$base-font-family: $body-font, Helvetica, sans-serif;
$base-font-size: em(14);
$base-font-weight: $regular;
$base-line-height: em(24);

// Elevation Levels
$elevation-levels: 5;

// Heading Settings
$heading-color: $dark-gray;
$heading-sizes: (h1: em(60), h2: em(48), h3: em(36), h4: em(24), h5: em(18), h6: em(16));

// Grid Settings
$container-max-width: 1280px;
$container-width: 90%;
$container-fluid-max-width: 100%;
$container-fluid-width: 100%;
$columns: 12;
$gutters: 20px;

// Flex Grid Settings
$align-content: flex-start, flex-end, center, space-between, space-around, stretch;
$align-items: flex-start, flex-end, center, baseline, stretch;
$align-self: auto, flex-start, flex-end, center, baseline, stretch;
$flex-direction: row, row-reserve, column, column-reverse;
$flex-wrap: nowrap, wrap, wrap-reverse;
$justify-content: flex-start, flex-end, center, space-between, space-around;

// Text Settings
$font-style: normal, italic, oblique, initial, inherit;
$text-align: right, center, left, justify, initial, inherit;
$text-transform: none, capitalize, uppercase, lowercase, initial, inherit;

// Components Settings
$components-padding: 20px;
$components-border-radius: 2px;

// Labels & Badges
$label-border-radius: $components-border-radius;
$label-padding: 4px 7px;
$label-font-size: em(12);
$label-font-weight: $semibold;
$badge-border-radius: 100px;

// Button Settings
$btn-border-radius: $components-border-radius;
$btn-padding: 10px 20px;
$btn-font-weight: $semibold;

// Input Settings
$input-border-color: map-get($brand-colors, default);
$input-border-height: 2px;
$input-border-radius: $components-border-radius;
$input-padding-vertical: $components-padding / 2;
$input-padding-horizontal: $components-padding;
$input-font-weight: $semibold;

// Alert Settings
$alert-border-radius: $components-border-radius;
$alert-padding: $components-padding;
$alert-font-weight: $regular;

// Progress Bar Settings
$progress-background: color(default);
$progress-border-radius: $components-border-radius;
$progress-bar-padding: 2px 8px;
$progress-bar-font-size: em(12);

// Card Settings
$card-background: $white;
$card-border-radius: $components-border-radius;
$card-header-padding: 20px;
$card-header-font-size: em(18);
$card-header-font-weight: $semibold;
$card-body-padding: 20px;
$card-footer-padding: 4px;
$card-footer-font-weight: $semibold;

// Modal Settings
$modal-background: $white;
$modal-border-radius: $components-border-radius;
$modal-header-padding: 20px;
$modal-header-font-size: em(18);
$modal-header-font-weight: $semibold;
$modal-body-padding: 20px;
$modal-footer-padding: 4px;
$modal-footer-font-weight: $semibold;

// Media Queries
$media-query: (desktop: 1024px, tablet: 768px, phone: 480px);